// video player styles here

.ed_tech_video_player {
    display: flex;
    justify-content: space-between;
}

// responsiveness for mobile & tablets
@media (max-width: 1280px) {
    .ed_tech_video_player {
        flex-direction: column;
    }
}