@import "../../assets/scss/main.scss";

// playlist item styles here
.ed_tech_playlist_item {
    padding: 10px 0;
    border-bottom: 1px solid $ed-tech-gray-primary;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out;
}

.ed_tech_playlist_item:hover {
    cursor: pointer;
    background-color: $ed-tech-gray-accent;
}

.ed_tech_playlist_item:active {
    transform: scale(0.95);
}

.ed_tech_playlist_item_container {
    color: white;
    display: flex;
    align-items: flex-start;
}

.ed_tech_playlist_item_container div + div {
    margin-left: 15px;
}

.ed_tech_playlist_item_container p {
    font-size: 13px;
    font-weight: 500;
}