// font imports here
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// declaring CSS variables here
$ed-tech-black-primary: #080e1b;
$ed-tech-black-secondary: #0a1121;
$ed-tech-blue-primary: #2b91ce;
$ed-tech-gray-primary: rgba($color: #808080, $alpha: 0.2);
$ed-tech-gray-accent: #0F172A;
$ed-tech-gray-progress: #1E293B;
$ed-tech-gray-secondary: #748094;
$ed-tech-green-primary: #37D399;
$ed-tech-red-primary: #bb150f;

// setting everything default here
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

// body style
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $ed-tech-black-primary;
}

// scrollbar styles here
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: $ed-tech-blue-primary;
}

::-webkit-scrollbar:horizontal {
    height: 0;
    width: 0;
    display: none;
}

::-webkit-scrollbar-thumb:horizontal {
    display: none;
}

// utility classes
.container {
    width: 70%;
    margin: 100px auto;
}

.hidden {
    display: none;
}

.block {
    display: block;
}

.mt-4 {
    margin-top: 4px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.ed-tech-span {
    font-weight: 400;
    font-size: 12px;
    color: $ed-tech-gray-secondary;
}

// button design here
.ed-tech-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid $ed-tech-blue-primary;
    transition: background-color 0.3s ease-in-out,
        transform 0.2s ease-in-out;
}

.ed-tech-button:hover {
    background-color: $ed-tech-blue-primary;
    cursor: pointer;
}

.ed-tech-button:active {
    transform: scale(0.9);
}

.ed-tech-button+.ed-tech-button {
    margin-left: 20px;
}

// fixed button design here
.ed-tech-button-fixed {
    width: 120px;
}

// icon button design here
.ed-tech-icon-button {
    border: 0;
    padding: 0;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.ed-tech-icon-button:hover {
    background-color: transparent;
    transform: scale(1.2);
}

.ed-tech-icon-button.add:hover {
    color: $ed-tech-green-primary;
}

.ed-tech-icon-button.delete {
    color: $ed-tech-red-primary;
}

.ed-tech-icon-button.edit {
    color: $ed-tech-blue-primary;
}

// input design here
.ed-tech-input {
    border: 0;
    padding: 10px;
    width: 80%;
    color: white;
    background-color: transparent;
}

.ed-tech-input:focus {
    outline: none;
}

.ed-tech-input::placeholder {
    color: rgba($color: #ffffff, $alpha: 0.6);
}

// responsiveness for mobile
@media (max-width: 640px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }
}