@import '../../assets/scss/main.scss';

// note list style here
.ed_tech_note_list_container {
    width: 100%;
    margin-top: 30px;
    color: white;
}

.ed_tech_note_list_container h3 {
    font-weight: 600;
}

// add new note form design here
.ed_tech_note_add_form {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $ed-tech-black-secondary;
    border: 1px solid $ed-tech-gray-primary;
    padding: 15px;
    border-radius: 5px;
}

// time stamp styles here
.ed_tech_note_time_stamp {
    display: flex;
    width: 100%;
}

.ed_tech_note_time_stamp p {
    font-weight: 600;
    padding: 7px 20px 0 0;
    width: 9%;
    border-right: 2px solid white;
}

.ed_tech_note_not_found {
    color: $ed-tech-blue-primary;
    font-weight: 700;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    opacity: 0.7;
}

// responsiveness for tablet
@media (max-width: 1280px) {
    .ed_tech_note_time_stamp p {
        width: 10%;
    }
}

// responsiveness for mobile
@media (max-width: 640px) {
    .ed_tech_note_time_stamp p {
        width: 20%;
    }

    .ed_tech_note_not_found {
        font-size: 15px;
        margin: 30px 0;
        font-weight: 600;
    }
}