@import "../../assets/scss/main.scss";

// container style
.ed_tech_playlist_container {
    width: 28%;
    max-height: 555px;
    background-color: $ed-tech-black-secondary;
    padding: 20px 0;
    border: 1px solid $ed-tech-gray-primary;
    border-radius: 5px;
    overflow-y: scroll;
}

.ed_tech_playlist_progress_bar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 20px;
}

// progressbar style 
.ed_tech_playlist_progress_bar {
    position: relative;
    width: 88%;
    height: 5px;
    background-color: $ed-tech-gray-progress;
    border-radius: 100px;
    overflow: hidden;
}

.ed_tech_playlist_progress {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: $ed-tech-blue-primary;
    transition: width 0.2s ease-in-out;
}

// responsiveness for mobile
@media (max-width: 640px) {
    .ed_tech_playlist_container {
        width: 100%;
        margin-top: 20px;
    }
}