@import "../../assets/scss/main.scss";

.ed_tech_header {
    display: flex;
    justify-content: center;
    background-color: $ed-tech-black-secondary;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ed_tech_nav {
    margin-top: 0;
    color: white;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ed_tech_nav_user_div {
    display: flex;
    align-items: center;
}

.ed_tech_nav_user_div p {
    margin-right: 20px;
    color: $ed-tech-blue-primary;
    font-weight: 500;
}

// responsiveness for mobile devices
@media (max-width: 640px) {
    .ed_tech_nav{
        width: 90%;
    }
}